<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.nanodegree.musicalstructure">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/udacity"
        android:label="@string/app_name"
        android:roundIcon="@drawable/udacity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Music List"
            android:name=".MusicListActivity" >
        </activity>
        <activity
            android:label="Artists"
            android:name=".ArtistsActivity" >
        </activity>
        <activity
            android:label="Now Playing"
            android:parentActivityName=".MusicListActivity"
            android:name=".NowPlayingActivity" >
        </activity>
        <activity
            android:label="Music Details"
            android:parentActivityName=".MusicListActivity"
            android:name=".MusicDetailsActivity" >
        </activity>
        <activity
            android:label="Musics Genres"
            android:name=".GenresActivity">
        </activity>
    </application>

</manifest>